body {
  background-image: linear-gradient(
    180deg,
    var(--bs-secondary-bg),
    var(--bs-body-bg) 100px,
    var(--bs-body-bg)
  );
}

#professional-plan-card {
  animation: jumpingCard 2s;
  animation-iteration-count: infinite;
}

@keyframes jumpingCard {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
