body {
  background-image: linear-gradient(
    180deg,
    var(--bs-secondary-bg),
    var(--bs-body-bg) 100px,
    var(--bs-body-bg)
  );
}

body:hover {
  cursor: default;
}

/* FLEXBOX */
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form input,
.register-form button {
  width: 100%;
}
